@charset "UTF-8";

body{
    background: #f1f1f1;
    height: 98vw;
    width: 98vw;
    max-width: 100vh;
    max-height: 100vh;
    margin: auto;
    padding: 0px;
}

.quadrado {
    position: relative;
    overflow-y: hidden;
}

div#interface {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
}

div#informacoes {
    width: 20%;
    display: block;
    float: right;
}

div#jogo {
    width: 98%;
    height: 98%;
    float: left;
    display: block;
    position: relative;
    box-shadow: 1px 1px 10px 2px black;
    max-width: 98vh;
    max-height: 98vh;
}

table#tabela-principal{
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

table#tabela-principal tr{
    
    border: 1px solid black;
    
}

table#tabela-principal td{

    border: 1px solid black;
 
}

table#tabela-principal td.default{
    background-color: white;
}

table#tabela-principal td.comida{
    background-color: darkred;
}

table#tabela-principal td.snake{
    background-color: gray;
}

table#tabela-principal td.cabeca-snake{
    background-color: darkslategray;
}

table#tabela-principal td.rabo-snake{
    background-color: green;
}

img {
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 100;
}

figcaption{
    position: absolute;
    top: 380px;
}

h2 {
    text-align: center;
    font-family: sans-serif;
}