@charset "UTF-8";
@font-face{
    font-family: "Arcade Classic";
    src: url("../_font/ARCADECLASSIC.TTF");    
}

body{
    background: #949494;
    height: 98vw;
    width: 98vw;
    max-width: 100vh;
    max-height: 100vh;
    margin: auto;
    padding: 0px;
}

.quadrado {
    position: relative;
    overflow-y: hidden;
}

div#interface {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
}

div#informacoes {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    border: 1px solid black;
    background-color: black;
    padding: 5px;
    box-shadow: 1px 1px 10px 2px black;
}

div#jogo {
    width: 98%;
    height: 98%;
    float: left;
    display: block;
    position: relative;
    box-shadow: 1px 1px 10px 2px black;
    max-width: 98vh;
    max-height: 98vh;
}

div#dead{
    width: 98%;
    height: 98%;
    max-width: 98vh;
    max-height: 98vh;
    background: rgba(0,0,0,.5);
    z-index: 1;
    margin: auto;
    position: absolute;
}

p, label {
    text-align: left;
    font-family: "Arcade Classic";        
    line-height: 10%;
}

p{
    font-size: 250%;
}

p#gameOver{
    color: red;
    line-height: 200%;
    font-size: 800%;
    text-align: center;
}

p#continue{
    color: white;
    text-align: right;
    font-size: 200%;
}

label{
    color: white;
}

p.bestSco{
    color: red;
}

p.lvl{
    color: green;
}

@media screen and (max-width: 1200px){
    body{
        height: 98vw;
        width: 98vw;
        max-width: 100vh;
        max-height: 100vh;
        margin: 0px;
        padding: 0px;
    }

    p{
        font-size: 200%;
    }

    p#gameOver{
        font-size: 500%;
    }

    p#continue{
        font-size: 150%;
    }
}

@media screen and (max-width: 865px){
    div#interface{
        width: 100%;
        height: 100%;
        display: block;
        float: left;
    }

    body{
        margin: auto;
        overflow: hidden;
    }

    div#informacoes {
        overflow: hidden;
        display: inline-block;
        position: relative;
    }

    p{
        font-size: 150%;
    }

    p#gameOver{
        font-size: 300%;
    }

    p#continue{
        font-size: 100%;
    }
}

table#tabela-principal{
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

table#tabela-principal tr{    
    border: 1px solid black;    
}

table#tabela-principal td{
    border: 1px solid black; 
}

table#tabela-principal td.default{
    background-color: white;
}

table#tabela-principal td.comida-brain{
    /*background-color: darkred;*/    
    /*background-image: radial-gradient(ellipse farthest-corner at 100px 100px , rgb(128, 128, 128) 30%, rgba(128, 128, 128, 0.4) 50%, white 80%);*/
    background-image: url("../_img/pink.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

table#tabela-principal td.comida-brain_pink{
    /*background-color: darkred;*/    
    /*background-image: radial-gradient(ellipse farthest-corner at 100px 100px , rgb(128, 128, 128) 30%, rgba(128, 128, 128, 0.4) 50%, white 80%);*/
    background-image: url("../_img/pink_and_the_brain.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

table#tabela-principal td.snake{    
    background-color: #3e8e57;
}

table#tabela-principal td.rabo-snake-dir{    
    background-image: linear-gradient(45deg, #3e8e57 50%, white 51%);
}

table#tabela-principal td.rabo-snake-esq{    
    background-image: linear-gradient(-45deg, #3e8e57 50%, white 51%);
}

table#tabela-principal td.cabeca-snake{
    background-color: #144e26;
}

table#tabela-principal td.rabo-snake{
    background-color: #3e8e57;
}

